<section>
    <a name="about-vwallet"></a>
    <h1>What is E-Wallet?</h1>
    <img src="img/money.png" class="icon" alt="" width="128">
    <div class="text-container">
        The objective of this eWallet Transaction Checker, is to create a simple money tracker for users. Money can be tracked in multiple wallets (accounts), for example, if a user has multiple businesses. When a user's profile is pulled up, it should show a overall balance and all their wallets (accounts) and their respective balances. Drilling down into each wallet (account), should show the detailed transactions of that wallet (account).  
  
    </div>
  </section>
  <section>
    <a name="how-it-works"></a>
    <h1>How it's working?</h1>
    <div class="columns col-3">
        <article>
            <img src="img/register.png" alt="">
            <div>
                <a href="/register">Register</a> for free.
            </div>
        </article>
        <article>
            <img src="img/top-up.png" alt="">
            <div>
                <div>Add funds to your account using the method of your choice:</div>
                <ul class="list-inline">
                    <li>Link a credit or debit card to your eWallet account</li>
                    <li>Top up your account with funds from your bank account</li>
                    <li>Top up your account using the purchased coupon</li>
                </ul>
            </div>
        </article>
        <article>
            <img src="img/payment.png" alt="">
            <div>
                Pay using your eWallet account by entering only your email and password.
            </div>
        </article>
    </div>
  </section>
  <section>
    <a name="where-you-pay"></a>
    <h1>Where will you pay with eWallet?</h1>
    <h2>Nowhere XD</h2>
    <!--With eWallet you can pay, among others: in services:
    <div class="columns col-3">
        <article>
            <h2>Evil</h2>
        </article>
        <article>
            <h2>Drone shop</h2>
        </article>
        <article>
            <h2>Bicycle shop</h2>
        </article>
    </div>-->
  </section>
  <section>
    <h1>Create an account</h1>
    <a href="/register" class="btn btn-color">Create a free account</a>
  </section>